<nav>
  <div class="nav-inner">
    <a href="{{ '/' | prepend: site.baseurl }}" class="nav-logo">
      <img src="{{ '/assets/img/logo.png' | prepend: site.baseurl }}" alt="Antitesis" />
    </a>
    <div class="nav-links">
      <a href="{{ '/' | prepend: site.baseurl }}"{% if page.url == '/' %} class="active"{% endif %}>Utama</a>
      <a href="{{ '/kategori/politik/' | prepend: site.baseurl }}"{% if page.category == 'Politik' %} class="active"{% endif %}>Politik</a>
      <a href="{{ '/kategori/ekonomi/' | prepend: site.baseurl }}"{% if page.category == 'Ekonomi' %} class="active"{% endif %}>Ekonomi</a>
      <a href="{{ '/kategori/hukum/' | prepend: site.baseurl }}"{% if page.category == 'Hukum' %} class="active"{% endif %}>Hukum</a>
      <a href="{{ '/kategori/sosial/' | prepend: site.baseurl }}"{% if page.category == 'Sosial' %} class="active"{% endif %}>Sosial</a>
      <a href="{{ '/kategori/opini/' | prepend: site.baseurl }}"{% if page.category == 'Opini' %} class="active"{% endif %}>Opini</a>
      <a href="{{ '/kategori/investigasi/' | prepend: site.baseurl }}"{% if page.category == 'Investigasi' %} class="active"{% endif %}>Investigasi</a>
    </div>
    <div class="nav-right">
      <input class="nav-search" type="text" placeholder="Cari berita…" />
      <a href="https://www.instagram.com/antitesis.id_?igsh=Z2dmb3ZsdGkxNHZk&utm_source=qr" class="btn-sub" target="_blank">Ikuti Kami</a>
    </div>
  </div>
</nav>
